.heading
{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 8px 18px aqua;
}

.note
{
    font-size: 15px;
    color: black;
}

.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 2;
    text-align: center;
    font-size:19px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 18px gainsboro;
}